In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv('eda_data.csv')

In [3]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,age,Python,R,spark,aws,excel,job_simp,seniority,desc_len,num_comp
0,0,Data Scientist,$77K-$92K (Glassdoor Est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,22,1,0,0,0,1,data scientist,na,2728,3
1,1,Data Scientist,$77K-$92K (Glassdoor Est.),"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,...,52,0,0,0,0,0,data scientist,na,3490,0
2,2,Data Scientist,$77K-$92K (Glassdoor Est.),"By clicking the Apply button, I understand tha...",3.7,Takeda\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,...,239,1,0,1,0,0,data scientist,na,3915,3
3,3,Data Scientist,$77K-$92K (Glassdoor Est.),Join Our Growing Team\nA career with A Place f...,3.0,A Place for Mom\n3.0,"Overland Park, KS","New York, NY",501 to 1000 employees,2000,...,20,1,0,0,1,1,data scientist,na,5230,3
4,4,Data Scientist,$77K-$92K (Glassdoor Est.),We are looking for Data Scientists who are int...,3.7,GovTech\n3.7,"San Francisco, CA","Singapore, Singapore",1001 to 5000 employees,2016,...,4,1,0,0,0,1,data scientist,na,2905,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Data Scientist,$105K-$138K (Glassdoor Est.),• Be one of the first to join our rapidly grow...,5.0,Shelf Engine\n5.0,"Seattle, WA","Seattle, WA",1 to 50 employees,-1,...,-1,1,0,0,0,1,data scientist,na,4240,0
996,996,Analytic Consultant 4 - Branch Banking Reporti...,$105K-$138K (Glassdoor Est.),Job Description\n\nImportant Note: During the ...,3.6,Wells Fargo\n3.6,"Dallas, TX","San Francisco, CA",10000+ employees,1852,...,168,0,0,0,0,1,na,na,7013,0
997,997,Data Scientist,$105K-$138K (Glassdoor Est.),"THE COMPANY\n\nFannie Mae provides reliable, l...",3.6,Fannie Mae\n3.6,"Washington, DC","Washington, DC",5001 to 10000 employees,1938,...,82,1,0,0,0,1,data scientist,na,3906,1
998,998,Data Scientist,$105K-$138K (Glassdoor Est.),Ready to write the best chapter of your career...,3.9,XSELL Technologies\n3.9,"Chicago, IL","Chicago, IL",51 to 200 employees,2014,...,6,1,0,0,0,0,data scientist,na,3499,0
999,999,Clinical Data Analyst,$105K-$138K (Glassdoor Est.),About Us:\n\nNYSTEC is a non-profit technology...,3.8,NYSTEC\n3.8,"New York, NY","Rome, NY",51 to 200 employees,1996,...,24,1,0,0,0,0,analyst,na,3604,3

In [4]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'Python', 'R', 'spark',
       'aws', 'excel', 'job_simp', 'seniority', 'desc_len', 'num_comp'],
      dtype='object')

In [5]:
df_model = df[['avg_salary','Rating','Size','Type of ownership','Industry','Sector','Revenue','num_comp','hourly','employer_provided',
             'job_state','same_state','age','Python','spark','aws','excel','job_simp','seniority','desc_len']]

In [6]:
df_dum = pd.get_dummies(df_model)

In [7]:
df_dum

,avg_salary,Rating,num_comp,hourly,employer_provided,same_state,age,Python,spark,aws,...,job_simp_analyst,job_simp_data engineer,job_simp_data scientist,job_simp_director,job_simp_manager,job_simp_mle,job_simp_na,seniority_jr,seniority_na,seniority_senior
0,84.5,2.9,3,0,0,1,22,1,0,0,...,0,0,1,0,0,0,0,0,1,0
1,84.5,4.1,0,0,0,0,52,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,84.5,3.7,3,0,0,0,239,1,1,0,...,0,0,1,0,0,0,0,0,1,0
3,84.5,3.0,3,0,0,0,20,1,0,1,...,0,0,1,0,0,0,0,0,1,0
4,84.5,3.7,0,0,0,0,4,1,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,121.5,5.0,0,0,0,1,-1,1,0,0,...,0,0,1,0,0,0,0,0,1,0
996,121.5,3.6,0,0,0,0,168,0,0,0,...,0,0,0,0,0,0,1,0,1,0
997,121.5,3.6,1,0,0,1,82,1,0,0,...,0,0,1,0,0,0,0,0,1,0
998,121.5,3.9,0,0,0,1,6,1,0,0,...,0,0,1,0,0,0,0,0,1,0
999,121.5,3.8,3,0,0,0,24,1,0,0,...,1,0,0,0,0,0,0,0,1,0

In [8]:
X = df_dum.drop('avg_salary', axis =1)
y = df_dum.avg_salary.values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Linear Regression

In [9]:
model1 = LinearRegression()
model1.fit(X_train, y_train)

LinearRegression()

In [10]:
prediction1 = model1.predict(X_test)

In [11]:
error = mean_absolute_error(y_test,prediction1)

In [12]:
error

23.573998029482855

In [13]:
np.mean(cross_val_score(model1,X_train,y_train, scoring = 'neg_mean_absolute_error', cv= 3))

-2018351.4923737291

## Lasso

In [14]:
model2 = Lasso(alpha=.13)
model2.fit(X_train,y_train)

Lasso(alpha=0.13)

In [15]:
prediction2 = model2.predict(X_test)

In [16]:
error2 = mean_absolute_error(y_test,prediction2)

In [17]:
error2

20.130839081840627

In [18]:
np.mean(cross_val_score(model2 ,X_train,y_train, scoring = 'neg_mean_absolute_error', cv= 3))

-20.988402523072835

## Random Forest

In [19]:
from sklearn.ensemble import RandomForestRegressor

In [20]:
model3 = RandomForestRegressor(n_estimators =250)

In [21]:
model3.fit(X_train,y_train)

RandomForestRegressor(n_estimators=250)

In [22]:
prediction3 = model3.predict(X_test)

In [23]:
error3 = mean_absolute_error(y_test, prediction3)

In [24]:
error3

19.12615231601732

In [25]:
np.mean(cross_val_score(model3 ,X_train,y_train, scoring = 'neg_mean_absolute_error', cv= 3))

-20.186528338515963

## Decision Tree

In [26]:
from sklearn.tree import DecisionTreeRegressor

In [27]:
model4 = DecisionTreeRegressor()

In [28]:
model4.fit(X_train,y_train)

DecisionTreeRegressor()

In [29]:
prediction4 = model4.predict(X_test)

In [30]:
error4 = mean_absolute_error(y_test, prediction4)

In [31]:
error4

25.73

In [32]:
np.mean(cross_val_score(model3 ,X_train,y_train, scoring = 'neg_mean_absolute_error', cv= 3))

-20.180915097734285

In [33]:
mean_absolute_error(y_test,((prediction3 + prediction2)/2))

19.534518784058015

In [34]:
import pickle
pickl = {'model': model3}
pickle.dump( pickl, open( 'model_file' + ".p", "wb" ) )

In [35]:
file_name = "model_file.p"
with open(file_name, 'rb') as pickled:
    data = pickle.load(pickled)
    model = data['model']

In [38]:
model3.predict(np.array(list(X_test.iloc[1,:])).reshape(1,-1))[0]

95.338